body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
}
/* Reset */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/**
  |============================
  | Header
  |============================
*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-bg-white {
  color: #2e2f42;
}
.nav-list-item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link.nav-list-item:hover,
.link.nav-list-item:focus {
  color: #404bbf;
}
.adress-list {
  font-style: normal;
}

.adress-item {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.link.adress-item:hover,
.link.link.adress-item:focus {
  color: #404bbf;
}
/**
  |============================
  | Main Page1
  |============================
*/
/*Hero section*/
.hero-section {
  background-color: var(--navy-blue-modal);
}
.tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button-orderservice {
  background-color: var(--iris);
  cursor: pointer;
}
.button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button-orderservice:hover,
.button-orderservice:focus {
  background-color: var(--ocean);
}
/*1 section*/
.list-item-tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--navy-blue);
}
.list-item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/*2 section*/
.second-tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
/*3 section*/
.team-section {
  background-color: #f4f4fd;
}
.team-list-item {
  background-color: #ffffff;
}
.name-tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.text-position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/**
  |============================
  | Footer
  |============================
*/
.foter-section {
  background-color: var(--navy-blue);
}
.foot-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  display: flex;
  align-items: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-bg-navy {
  color: #f4f4fd;
}
.foot-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
/**
  |============================
  | Main Page2
  |============================
*/
.button-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  color: var(--iris);
  cursor: pointer;
}
.button-item:hover,
.button-item:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.project-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.project-class {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
